<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

       <button id="tour_button" class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>

        <ul class="nav navbar-nav navbar-right">
            <li id="row-selection" class="dc-data-count"><span class="filter-count">_</span> selected out of <span class="total-count">_</span> records</li>
            <li><a href='javascript:dc.filterAll();dc.redrawAll();' title="Click here if you want to reset all charts."><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;<b>Reset All</b></a></li>
        </ul>

       <div class="navbar-header">
            <a class="navbar-brand" href="../../templates/index.html">School Donations Dashboard</a>
       </div>
</div>